.leaflet-popup-useraction-buttons,
.leaflet-popup-input-actions{
   display: flex;
   justify-content: space-between;
   padding: 13px 19px 10px 19px;
}

a.leaflet-popup-remove-button,
a.leaflet-popup-edit-button,
a.leaflet-popup-input-cancel,
a.leaflet-popup-input-save{
   border-bottom: none;
   text-decoration: none;
}
a.leaflet-popup-edit-button,
a.leaflet-popup-input-save{
   margin-left: auto;
   text-align: right;
}
a.leaflet-popup-remove-button:hover,
a.leaflet-popup-edit-button:hover,
a.leaflet-popup-input-cancel:hover,
a.leaflet-popup-input-save:hover{
   color: #0078A8;
   text-decoration: underline;
   cursor: pointer;
}

.leaflet-popup-input{
   border: 1px solid lightgrey;
   min-width: 160px;
   margin: 19px 19px 0px 19px;
   padding: 5px;
}
.leaflet-popup-input:focus{
   outline: 2px solid #60b7da;
   border: 1px solid #60b7da;
}

.leaflet-popup-input-ruler{
   position: fixed;
   top: -100px;
   visibility: hidden;
   font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
   background-color: lightgrey;
}