  #menu {
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background: #fff;
    color: #555;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 11px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    padding: 0px;
    border: 1px solid #C6C6C6;
  }
  
  #menu a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 6px 8px 6px 30px;
    width: 150px;
    position: relative;
  }
  
  #menu a img,
  #menu a i.fa {
    height: 20px;
    font-size: 17px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
  }
  
  #menu a span {
    color: #BCB1B3;
    float: right;
  }
  
  #menu a:hover {
    color: #fff;
    background: #3879D9;
  }
  
  #menu hr {
    border: 1px solid #EBEBEB;
    border-bottom: 0;
  }