.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat_header {
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat_headerinfo {
  flex: 1;
}

.chat_headerinfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerinfo > p {
  color: gray;
}

.chat_body {
  height: 85%;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat_name {
  position: absolute;
  top: -20px;
  font-weight: 800;
  font-size: xx-small;
}

.chat_reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.chat_footer > form {
  flex: 1;
  display: flex;
}

.chat_footer > form > input {
  flex: 0.8;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 50px;
}

.chat-sidebar_icon > input {
  border: none;
}

.chat_footer > form > button {
  display: none;
}

.icon {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  overflow: hidden;
  margin-right: 25px;
  margin-bottom: 5px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px;
}

.mic-icon {
  display: block !important;
  border: none;
  background-color: white;
  font-size: 25px;
  margin-left: 30px;
}

.mic-icon:hover {
  color: brown;
  cursor: pointer;
  height: 30px;
}

/* sidebar */

.chat-sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.chat-sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.chat-sidebar_headerright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.chat-sidebar_headerright > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px i !important;
}

.chat-sidebar_search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.chat-sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 32px;
  border-radius: 20px;
}

.chat-sidebar_icon {
  color: gray;
  padding: 10px;
}

.chat-sidebar_searchContainer > input {
  border: none;
  width: 100%;
  outline-width: 0;
  margin-left: 10px;
}

.chat-sidebar_chat {
  flex: 1;
  background-color: white;
  overflow: scroll;
}

.app_body {
  display: flex;
  height: 1222px;
}

.sidebarchat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebarchat:hover {
  background-color: #ebebeb;
}

.sidebarchat_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarchat_info {
  margin-left: 15px;
}

#postchatroom {
  font-size: 40px;
}

#addfriend {
  margin-left: 40px;
  font-size: 40px;
}

.chatroominput_box {
  position: absolute;
  background-color: whitesmoke;
  width: 600px;
  height: 400px;
  margin-top: 500px;
  margin-left: 220px;
  border-radius: 20px;
  box-shadow: rgba(79, 97, 44, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addchatroom_crose {
  font-size: 70px;
}

#chatroom {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 1400px;
}

.chartroomonclick {
  background-color: #ebebeb;
}

.newmicon {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgb(255, 136, 136);
  margin-left: 30px;
  margin-top: 97px;
}

.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}
