.leaflet-container .leaflet-control-mapcentercoord {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* .leaflet-control-mapcentercoord-icon {
  background: url(/assets/crosshair.svg) 50% 50% no-repeat;
  margin: -18px 0 0 -18px;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
} */
